:root {
    --custom-bg-color: primary;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    padding-top: 0px;
}



// Transition for home page articles.
article.post {
    // before css

    opacity: 0;
    transform: translateY(20px);
    transition: all ease 1s;

    &.visible {
    //after css

    transform: translateY(0px);
    opacity: 1;
    }
}

.nav .navbar-nav li a{
    color: #FFF!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}

.navbar-toggler-icon {
    color: #FFF!important;
}




// Colors
.home-row-bg {
    background-color: $green-100;
}


ul.navbar-nav li.dropdown:hover ul.dropdown-menu {
    display: block; 
    margin: 0;
}

a.menu:after, .dropdown-toggle:after {
  content: "";
}