/* :root {
    --custom-bg-color: $primary;
    --size-step-0: clamp(1rem, 0.9661rem + 0.1695vw, 1.125rem);
    --size-step-1: clamp(1.125rem, 1.0243rem + 0.5034vw, 1.4963rem);
    --size-step-2: clamp(1.2656rem, 1.0692rem + 0.9822vw, 1.99rem);
    --size-step-3: clamp(1.4238rem, 1.0921rem + 1.6585vw, 2.6469rem);
    --size-step-4: clamp(1.6019rem, 1.0817rem + 2.6008vw, 3.52rem);
    --size-step-5: clamp(1.8019rem, 1.0209rem + 3.9051vw, 4.6819rem);
    --space-2xs: clamp(0.5rem, 0.4831rem + 0.0847vw, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.7161rem + 0.1695vw, 0.875rem);
    --space-s: clamp(1rem, 0.9661rem + 0.1695vw, 1.125rem);
    --space-m: clamp(1.5rem, 1.4492rem + 0.2542vw, 1.6875rem);
    --space-l: clamp(2rem, 1.9322rem + 0.339vw, 2.25rem);
    --space-xl: clamp(3rem, 2.8983rem + 0.5085vw, 3.375rem);
    --space-m-xl: clamp(1.5rem, 0.9915rem + 2.5424vw, 3.375rem);
    --space-mega: clamp(6rem, 4.5763rem + 7.1186vw, 11.25rem);
    --gutter: var(--space-s);
} */

:root {
    font-size: calc(1rem + 0.25vw);
}

html {
    scroll-behavior: smooth;
}

.img-logo {
    border-radius: unset;
}

// Scroll progress animation
.scroll-watcher {
    height: 6px;
    position: fixed;
    // top: 112px;
    top: 80px;
    z-index: 1000;
    background-color: $secondary;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to {scale: 1 1; }
}
// Scroll progress animation - end



.wrapper {
    padding-top: 0px;
}


img[class*='wp-image-'] {
    border-radius: 24px;
}

.wp-block-cover img {
    border-radius: 0px;
}



// Service cards
.servicebox {
    display: flex;
    align-items: stretch;
    
    .icon svg{
        fill: $primary;
    }

    .title {
        @extend h3;
        margin-top: 8px;
        text-wrap:pretty;
    }

    .content {
        @extend .card-text;
        }
    
    .box {
        justify-content: space-between;
        flex: 0 1 auto;
        @extend .card;
        @extend .shadow;
        border: $dark solid 1px;
        padding: $spacer * 1.5;
        border-radius: 24px;
        
        .title {
            margin-top: 1px;
            text-wrap:pretty;
        }

        .wp-block-buttons {
            width: 100%;
            margin-top: 8px;
        }

        .button {
            width: 100%;
            margin-top: 8px;
        }

    }
}
// Service cards - end

.full-height {
    min-height: 80vh;
}