.footer-widget {
    padding-top: 28px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#wrapper-footer-full {
    background: $primary;
}

/* Additional styling for menu links */
#menu-footer-menu {
    list-style-type: none;
}

ul#menu-footer-menu {
    display: inline-grid !important;

    a {
        text-decoration: none;
        color: $dark; /* Adjust the color as needed */
        padding: 4px 20px; /* Adjust padding as needed */
        border-radius: 5px; /* Add rounded corners to menu items */
        // background-color: #ddd; /* Add background color to menu items */
        // box-shadow: 0 3px 10px (rgba(0,0,0, 0.15));
    }

    a:hover {
        background-color: $light; /* Change background color on hover */
        border: $dark solid 1px;
    }
}



#menu-footer-menu li:last-child {
    margin-bottom: 0px; /* Remove margin from the last menu item */
}



@media (min-width: 320px) and (max-width: 480px) {
    #menu-footer-menu a {
        color: $dark; /* Adjust the color as needed */
        padding: 4px 16px; /* Adjust padding as needed */
        border: none;
        // border-radius: 5px; /* Add rounded corners to menu items */
        background-color: transparent; /* Add background color to menu items */
    }
}


