// Navigation styles

// navbar transition
.navbar {
    transition: all 0.5s;
    // top:32px; // for admin bar fix
}

.navbar-scrolled {
    background-color: $primary;
    box-shadow: 0 3px 10px (rgba(0,0,0, 0.15));
}
// navbar transition - end

#main-menu {
    padding-top: 30px;
    gap: 2em;
        li {
            
            a {
                color: $dark;
                font-size: 16px;
                font-weight: 400;
            }
            &.current-menu-item {
                a {
                color: $primary;
                }
            }
        }
    }

li.dropdown:hover ul.dropdown-menu {
    display: block; 
    margin: 0;
}

//for mobile
#main-nav {
    padding-top: 40px;
}

// end Navigation styles
