// Navigation styles
// navbar transition
.navbar {
    transition: all 0.5s;
    // top:32px; // for admin bar fix
}

.navbar-scrolled {
    background-color: $primary;
    box-shadow: 0 3px 10px (rgba(0,0,0, 0.15));
}
// navbar transition - end

.nav .navbar-nav li a{
    color: #FFF!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}

.nav-link {
    color: $dark;
    font-size: var(--size-step-1);
}

.navbar-toggler-icon {
    color: #FFF!important;
}


ul.navbar-nav li.dropdown:hover ul.dropdown-menu {
    display: block; 
    margin: 0;
}

a.menu:after, .dropdown-toggle:after {
  content: "";
}

// end Navigation styles
