// Hero classes

.hero-image {
    min-width: 100vw;
    object-fit: cover;
    height: 100vh;
    border-radius: 0px;
}

.hero-overlay {
    color: $light;
    @extend h1;
    // font-size: var(--size-step-5);  // varies h1 size according to rem & viewport size (may extend to other headings)
    letter-spacing: 2px;
    position: absolute;
    top: 50vh;
    left: 3rem;
    width: clamp(20rem, 50vw, 80rem);
}

// Home page sections
.home-section-wrapper {
    width: 90%;
    min-height: 70vh;
    padding: 0px;
    align-content: center;

    .sub-title {
        text-transform: uppercase;
        font-weight: 600;
    }

    .title {
        padding-top: 0;
        font-size: 3rem;
        text-wrap: balance;
        width: 12ch;
    }

/*     .content {
        font-size: 1.3rem;
    } */
}

.home-section-wrapper.bg-color {
    background-color: $gray-400;
}


// Scroll sectionfp animation
@media (prefers-reduced-motion: no-preference) {
    .home-section-wrapper {
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry 100px;
    }

    @keyframes fade-in {
        to {opacity: 1;}
    }
}
// Scroll sectionfp animation - end


.wp-block-image.img {
    border-radius: min(1.5rem, 2vw);
}



.testimonial-header {
    @extend .container;
    color: $light;
    padding-top: 3rem;
}

.home-section-container {
    // min-height: 90vh;
    padding: 60px 10px;

    .subtitle {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;
    }

    h2 {
        font-size: var(--size-step-3);
        padding-top: 0.5em;
    }

    .title {
        @extend h3;
    }
}


// Home page sections - end
