.strong-view .strong-content .wpmtst-testimonial-content *, .strong-view .strong-content .wpmtst-testimonial-field {
    --testimonial-font-family: $font-family-base; 
    --testimonial-font-size: 1.2rem;
    --testimonial-spacing: 0.8rem;
}

.strong-view .testimonial {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background:white;
    // box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
    box-shadow: 0 0 0.5px 1px hsla(0, 0%,  
              100%, 0.075),
              /* shadow ring */
              0 0 0 1px hsla(0, 0%, 0%, 0.05),
              /* multiple soft shadows */
              0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
              0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
              0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    border-radius: 24px;
    padding: 40px;
    margin: 20px;
}

.testimonial > * {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
    width: 100%;
    word-break: break-word;
}

.testimonial-content {
    align-self: center;
    font-family: var(--testimonial-font-family);
    font-size: var(--testimonial-font-size);
    font-style:italic;
    font-weight: 300;
    color: $dark;
    line-height: 1.18;
    padding: calc(4 * var(--testimonial-spacing)) calc(4.5 * var(--testimonial-spacing)) calc(2.5 * var(--testimonial-spacing));
    position: relative;
}

.testimonial__blockquote::before {
    color: currentColor;
    content: "“";
    display: block;
    font-family: var(--testimonial-font-family);
    font-size: calc(8 * var(--testimonial-spacing));
    position: absolute;
    top: calc(-1.25 * var(--testimonial-spacing));
}

.testimonial__attribution {
    font-family: var(--wp--preset--font-family--system-font);
    font-size: calc(0.8 * var(--testimonial-font-size));
    color: $dark;
    line-height: 1.5;
    margin-top: calc(2 * var(--testimonial-spacing));
}

.testimonial__title {
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.9 * var(--testimonial-font-size));
    color: $light;
    position: relative;
    top: -190px;
}

.testimonial__role {
    display: block;
    font-size: calc(0.7 * var(--testimonial-font-size));
    font-style: italic;
    border: solid 1px red;
}

.testimonial__image {
    box-sizing: border-box;
    height: 100%;
    line-height: 0;
    margin-bottom: 0;
    padding: calc(0.5 * var(--testimonial-spacing)) calc(0.5 * var(--testimonial-spacing)) calc(0.5 * var(--testimonial-spacing));
}

.testimonial__image img {
    height: 100%;
}

.testimonial__img {
    box-sizing: border-box;
    max-width: 100%;
    object-fit: cover;
    border: solid 10px green;
}

@media (min-width: 600px) {
    .testimonial {
        flex-wrap: nowrap;
    }

    .testimonial__col:first-of-type {
        flex-basis: 64%;
    }

    .testimonial__col:last-of-type {
        flex-basis: 38%;
    }
}


.home-testimonial{background-color: #231834;height: 380px}
.home-testimonial-bottom{background-color: #f8f8f8;transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top: 20px;margin-bottom: 0px;position: relative;height: 130px;top: 190px}
.home-testimonial h3{color: var(--orange);font-size: 14px;font-weight: 500;text-transform: uppercase}
.home-testimonial h2{color: white;font-size: 28px;font-weight: 700}
.testimonial-pos{position: relative;top: 24px}
.testimonial-inner .tour-desc{border-radius: 5px;padding: 40px}
.color-grey-3{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}
.testimonial-inner img.tm-people{width: 60px;height: 60px;-webkit-border-radius: 50%;border-radius: 50%;-o-object-fit: cover;object-fit: cover;max-width: none}
.link-name{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}
.link-position{font-family: "Montserrat", Sans-serif;font-size: 12px;color: #6c83a2}